
<style type="text/css">
  body{
    background-color: #e1e1e2;
  }

  .box{
         width: 500px;
         height: 600px;
         margin: 10px auto;
         background-color: #8dc3ba;
         align: center;
  }

  .header{  
    background-color: #e4e3e3;
  }
  .header li{
    list-style: none;
    display: inline;
    }
   .header ul li{
    padding-right: 10px;
    text-transform: capitalize;

    }
   .header a{
    text-decoration: none;
    }

    .header a:hover{
     background-color: white;
     font-size: 20px;
     
    }


</style>



<div class="box">
<p> Welcome {{ session['username'] }} Your user id is : {{session['uuid']}} </p>

<div class="header">
  <ul>
    <li><a href="/suggestion">Suggestions</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</div>

{% from "form_headers.html" import render_field %}

      	<table border="1">
         <thead>
            <tr>
               <th>Fistname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Username</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.firstname }}</td>
                  <td>{{ user.lastname }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.username }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      </div>

