<!DOCTYPE html>
<html>
<head>
	<title>Login page</title> 
</head>
<style type="text/css">
	body{
		background-color: #e1e1e2;
	}

	.box{
         width: 500px;
         height: 600px;
         margin: 10px auto;
         background-color: #8dc3ba;
         align: center;
	}

	.login{
		height: 100px;
		width: 500px;
		background-color: #519a8d;
		align: center;
		text-align: center;
		border-radius: 30px;
	}

	.signup{
		height: 100px;
		width: 500px;
		background-color: #9dbd9d;
		align: center;
		text-align: center;
		border-radius: 30px;
	}

</style>

<body>

   <div class="box">   
      <div>
       <h1>Welcome to Suggestion Box app </h1>
       This application can help you manage your suggestions. Try out by signing up or logging in if you already have an account.
       <p>Thankyou</p>

       <div class="login">
       	    <a href="/login">Login</a>
       </div>

       <div class="signup">
       	   <a href="/signup">Signup</a>
       </div>
	  </div>
</div>




</body>
</html>