

<style type="text/css">
	body{
		background-color: #e1e1e2;
	}

	.box{
         width: 500px;
         height: 600px;
         margin: 10px auto;
         background-color: #8dc3ba;
         align: center;
	}

</style>

<div class="box">
  
  <p> {{ message }}</p>

{% from  "form_headers.html" import render_field %}


<form  method=post action="/login"> 
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p align="center"><input type=submit value=Login>
</form>

<a href="/">Back</a> 

</div>