
<style type="text/css">
	body{
		background-color: #e1e1e2;
	}

	.box{
         width: 500px;
         height: 600px;
         margin: 10px auto;
         background-color: #8dc3ba;
         align: center;
	}

</style>

<div class="box">

{% from "form_headers.html" import render_field %}

<form method=post action="/signup">
  <dl>
    {{ render_field(form.firstname) }}
    {{ render_field(form.lastname) }}
    {{ render_field(form.email) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p align="center"><input type=submit value=Signup>
</form>

<a href="/">Back</a> 
</div>